
.homePageApp{font-size:1em;padding:5em 0}.homePageApp .btn{font-size:1em;margin:5em 10em;background-color:#349118;color:#fff;padding:.4em .8em;cursor:pointer;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}.homePageApp .btn:hover{background-color:#2c7715}.homePageApp .btn:active{background-color:#3a991e}
